body{
    
}

h5{
    font-size: 16;
    margin-top: -15px;
}

h4{
    margin-top: -102px;
}

p{
    margin-top: -20px;
}

.isiatas h4{
    text-align: center;
    margin-top: 30px;
}

.isiatas p{
    font-size: 16px;
    text-align: center;
}


.isimemerintahkan h4{
    text-align: center;
    margin-top: 20px;
}

.isiuntuk table{
    margin-top: 40px;
}

#bawah{
    float: right;
    margin-top: 200px;
}

#bawah h5{
    margin-top: 80px;
    text-align: center;
}